body {
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    color: #777777;
    width: 100%;
    margin-top: 50px;
}

.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    width: 100%;
}

.logo0 {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

/*--ENCABEZADO--*/

.fondo-encabezado {
    width: 100%;
    height: 450px;
    background-image: url(../img/header-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #648DA5;
    display: flex;
}
.encabezado {
    width: 100%;
    margin: auto;
}

#logo {
    width: 90px;
    height: 90px;
    margin: auto;
    display: flex;
}

.encabezado h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 19px;
    text-align: center;
    color: white
}

.btn1, .btn2 {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px 0px 0px 0px;
    height: 30px;
    width: 103px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.btn1 a {
    color: white;
    margin: auto;
    font-weight: 900;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
    text-decoration:none;
}

a:visited {
    text-decoration: none;
}

/*--ABOUT--*/

.no-padding {
    padding: 0;
}

.container-fluid {
    margin-top: -20px;
}

.about-izq {
    height: 320px;
}

.about-der {
    height: 320px;
    background-color: white;
    padding-top: 65px;
}

.about-der h2{
    width: 70%;
    margin: auto;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}

.about-der hr{
    width: 5%;
    height: 8px;
    background-color: #ED5E3E;
    margin-left: 98px;
}

.about-der p {
    width: 70%;
    margin:auto;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.3px;
}


/*--Skills---*/

.frontend, .graphicdesign {
    background-color: #52A8E7;
    background: linear-gradient(135deg, #3b8edb 0%, #52a8e7 100%);
    height: 320px;
    color: white;
}

.frontend h4, .graphicdesign h4 {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
}

.frontend hr, .graphicdesign hr {
    width: 5%;
    height: 8px;
    background-color: #ED5E3E;
    margin-left: 65px;
    border: none;
}

.frontend p, .graphicdesign p {
    width: 70%;
    margin: auto;
    letter-spacing: 0.6px;
    font-size: 13px;
}

.skills {
    height: 320px;
    display: flex;
    background-color: #A2DCF9;
    background: radial-gradient(ellipse at center, #b6e5fc 0%, #7dcdf5 100%);
}

.img-skills h3 {
    width: 50%;
    margin: auto;
    margin-left: 70px;
    text-align: center;
    margin-top: 120px;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    color: #312E2E;
}

.img-skills {
    background-image: url(../img/skills.png);
    height: 75%;
    margin: 55px auto;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--Portfolio-intro--*/
.intro-portfolio {
    text-align: left;
    background: linear-gradient(45deg, rgba(55,65,79,1) 0%, rgba(68,84,102,1) 100%);
}

.content-intro-portfolio {
    width: 70%;
}
.content-intro-portfolio h3 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #d4d2d4;
    margin-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

.glyphicon {
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

/*--Portfolio---*/

.portfolio-box{
    padding: 0;
}

.portfolio-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(49,55,61,0.7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-caption h3 {
    letter-spacing: 2px;
    font-size: 16px;
    opacity: 0.8;
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 10px;
}

.portfolio-caption:hover {
    opacity: 1;
}

.btn2 {
    width: 110px;
    margin-top: 0px;
}

.btn2 a {
    color: white;
    margin: auto;
    font-weight: 900;
    padding-top: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*--Contact---*/
.contact {
    height: 450px;
    width: 100%;
    letter-spacing: 1px;
    font-size: 12px;
    padding-top: 60px;
    margin: auto;
    background-color: white;
}

.contact hr {
    width: 20%;
    margin: 0px;

}
.contact h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: left;
   
}

.input {
    margin-bottom: 10px;
    margin-top: 2px;
    width: 90%;
    height: 20px;
    border: 0.5px solid #D8D8D8;
    border-radius: 2px 2px 2px 2px;
    padding-left: 5px;
    letter-spacing: 0.5px;
}

.input-2 {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 90%;
    border-radius: 2px 2px 2px 2px;
    border: 0.5px solid #D8D8D8;
    padding-left: 5px;
    padding-bottom: 100px;
    letter-spacing: 0.5px;
}


.form {
    padding-top: 15px;

}
.social {
    padding-left: 20px;
    
}

.fa {
    font-size: 14px;
    margin-right: 5px;
}

.fa2 {
    font-size: 25px;
    margin-right: 10px;
}

.mail, .fono {
    padding-top: 15px;
}

.redes-sociales {
    padding-top: 30px;
}

.footer {
    padding-bottom: 10px;
    padding-left: 30px;
}

.footer img {
    opacity: 0.8;
}

.footer img:hover {
    opacity: 1;
}
/*------Media queries tablet------*/
    
@media screen and (max-width: 768px){
    .logo0 {
        margin-left: 15px;
    }
    
    .encabezado h3 {
        font-size: 18px;
    }
    
    .fondo-encabezado {
        height: 350px;
        background-size: 920px;
    }
    
    .portfolio-box {
        margin-top: 20px;
    }
    .about-der {
        height: 100%;
        padding-top: 45px;
        padding-bottom: 45px; 
    }
    
    .contact {
        height: 620px;
    } 
}

/*------Media queries móvil------*/
    
@media screen and (max-width: 420px){
    .logo0 {
        margin-left: 16px;
    }
    
    .fondo-encabezado {
         height: 330px;
         background-size: 920px;
    }
    
    .encabezado h3 {
        font-size: 15px;
        width: 100%;
        margin: 20px auto;
    }
    
    .about-der {
        height: 100%;
        margin-top: -70px;
        padding-bottom: 65px;  
    }
    
    .intro-portfolio {
        height: 100px;
    }
    
    
    .portfolio-box {
        margin-top: 20px;
    }
    
    .contact {
        height: 600px;
    }
}